<ion-content>
  <div class="reservation-form">
    <h2 class="container_title">Reserva tu habitación</h2>
    <form (ngSubmit)="reserve()">
      <div class="form-group">
        <label for="huespedes">Número de huéspedes:</label>
        <input type="number" id="huespedes" name="huespedes" placeholder="Ingrese el número de huéspedes" [(ngModel)]="numHuespedes" required>
      </div>
      <div class="form-group">
        <label for="check-in">Fecha de llegada:</label>
        <input type="date" id="check-in" name="check-in" [(ngModel)]="fechaInicio" required pattern="\d{4}-\d{2}-\d{2}">
      </div>
      <div class="form-group">
        <label for="check-out">Fecha de salida:</label>
        <input type="date" id="check-out" name="check-out" [(ngModel)]="fechaFinal" required pattern="\d{4}-\d{2}-\d{2}">
      </div>
      <div class="form-group">
        <button type="submit">Reservar</button>
        <button type="submit" class="consult" (click)="consultarReserva()">Consultar reserva</button>
      </div>
    </form>

    <!-- Mostrar los datos de la reserva si está disponible -->
    <div *ngIf="reserva" class="reserva-details">
      <h3>Detalles de la reserva:</h3>
      <p>Precio: {{ reserva.habitacion.precio }}</p>
      <p>Ubicación: {{ reserva.habitacion.ubicacion }}</p>
      <p>Nombre del titular:  {{reserva.habitacion.nombre}}</p>
      <!-- Agrega más campos según sea necesario -->
    </div>

  </div>
</ion-content>